@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {height: 100%;}

body {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-family: "Monotype Corsiva", sans-serif;
    line-height: 135%;
}

a {
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover {
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {color: lightyellow;}

img {
    max-width: 100%;
    height: auto;
    width: auto/9;
}

.left {
    float: left;
    color: white;
}

::selection{background: ; color: #fff;}
-moz-::selection{background: ; color: #fff;}

header, footer {
    width: 98%;
}

header {

    padding: 0.5%;
}

menu {
  float: center;
  width: 80%;
  border-bottom: 2px silver;
}

menu div {
    color: MintCream;
    font-size: 3em;
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
}

menu a {
    text-decoration: none;
    color: white;
}

menu a:hover {color: yellow;}

li{display: inline-block;
   padding: 5px;}

footer {
    margin-top: 10px;
    padding: 1%;
    padding-bottom: 2%;
}

#Page-Wrap:after {
    content: "";
    display: block;
}

footer, #Page-Wrap:after {height: 10px;}

#Page-Wrap {
    min-height: 94%;
    margin-bottom: -10px;
}

h3 {
    margin-top: 50px;
    font-size: 4em;
    padding: 50px;
    color: Brown;
    margin-bottom: -50px;
}

h3 div {margin-left: 100px;}

#education {
    padding-left: 25em;
    padding-right: 20em;
    padding-top: 2em;
    line-height: 3em;
}

#education h1 {padding-left: 1em;}

hr {margin:1em;}

#career {
    padding-left: 17%;
    width: 50%;
    padding-top: 2em;
    line-height: 2em;
    color: white;
}

#skills_left {
    float: left;
    font-size: 100%;
    line-height: 120%;
    font-family: Courier;
    margin-left: 40px;
    color: Lime;

}

#framework {
    margin-left: 5em;
    color: Green;
}

#skills_right {
    float: right;
    font-size: 2em;
    line-height: 120%;
    font-family: Times New Roman;
    margin-right: 40px;
    margin-top: 120px;
    color: Blue;
}

#CV {
    margin-left: 10%;
    width: 80%;
    height: 50em;
}

#contact {
    margin-left: 1em;
    margin-top: 1em;
    font-family: Times New Roman;
}

#contact img {width: 20%;}

#contact a {
    text-decoration: none;
    color: white;}

#links {
    margin-left: 1.2em;
    margin-top: 1em;
    font-family: Times New Roman;
}

#links img {width: 2.3%;}

.shadow {
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
    color: red;
}




.submenu {
  position: absolute;
  transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu {
    transform: rotateX(0deg);
}
